*{
    margin:0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:'Segoe UI';
}
.logo img{
        width: 150px;
    height: 60px;
}
.right ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right ul{
    display: flex;
    gap: 41px;
}
.right ul li span{
    padding: 0px 5px;
}
.last ul{
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 30px;
}
.earth{
    margin-top: 5px;
    font-size: 20px;
    font-family:'Segoe UI';
}
.last ul li{
    list-style: none;
}
.last ul li span{
    padding: 0px 5px;
}
.buy{
    padding: 10px 10px;
    border: 3px solid black;
    font-size: 14px;
    border-radius: 3px;
    background-color: white;

}
.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 63px;
    margin: 70px;
    font-family: sans-serif;
}
.abc{
    font-size: 41px;
}
.text2{
    text-align: center;
    width: 64vw;
    font-size: 30px;
}
.hmm{
    font-size: 10px;
}
.hehe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-big{
    background-color: rgb(0, 182, 209); 
    padding: 14px 16px;
    font-size: 15px;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    border: none;
}
.image{
    height: 60px;
    width: 60px;
    margin: -9px;
    margin-left: -200px;
    
}
.t1{
    font-size: 26px;
    margin: 6px;
}
.t2{
    font-size: 16px;
}
.download{
    font-family: sans-serif;
}
.download span a{
    color: black;
    text-decoration: none;
}
.second{
    display: flex;
   
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 26px;
}
.green{
    background-color: rgb(92, 184, 92);
}
.blue{
    background-color: rgb(0, 182, 209); 
}
.item{
    background-color: #f9f9f9e6;
    padding: 36px 1px;
   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.item-large{
    font-size: 19px;
    font-weight: 700;
}
.item-small{
    font-weight: 300;
}
.grid{
     width: 60vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:12px;
    width: 813px;
    
}
.btn-small{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 13px;
    border: none;
    border-radius: 4px;
}
@media screen and (max-width : 945px) {
    .grid{
        grid-template-columns: 1fr;
    }
}
.sec1{
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    
    width: 60vw;
    margin: 0 auto;
    gap: 30px;
    
}
footer{
    background-color: black;
    gap: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.box{
    height: 270px;
    width: 270px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.sec2{
    color: white;
    width: 60vw;
    margin: 0 auto;
    
}